파일 추가, 삭제
- 무조건 물어본다

코드 추가, 수정, 삭제
- 프레임워크 내에 공식 문서를 제일 먼저 참고한다
- 기능을 구현할 때 직접 로직을 작성하는 것 보단 관련 라이브러리를 사용한다
- 관련 라이브러리가 없을 땐 로직을 직접 작성한다
- 로직 작성은 최대한 간결하고 명확하게 작성한다
- 요청한 부분에 대해서만 최대한 코드를 줄이고 간결하게 작성한다
- 주석은 클래스, 메소드 단위만 작성하고 라인 별 주석은 작성하지 않는다
- 요청한 작업 외에 추가적인 작업은 하지 않는다
- 로직 작성과 관련된 요청을 하지 않는다면 구조만 작성한다
- 사용자가 명시적으로 요청한 파일만 생성한다
- 추측으로 추가 파일을 만들지 않는다
- 파일 추가 시 무조건 파일 구조를 물어본다

문서 추가, 수정, 삭제
- 문서는 항상 공식 문서를 참고하여 작성한다
- 문서는 항상 명확하고 쉽게 이해할 수 있도록 작성한다
- 문서는 항상 최신 상태를 유지한다
- 문서는 항상 쉽게 찾을 수 있도록 작성한다
- 문서는 항상 최신 상태를 유지한다

Nestjs 프레임워크
- Nestjs 프레임워크는 무조건 최신 버전의 공식 문서를 참고한다
- 모듈의 Export 되어 있는 파일들은 Barrel Export 에 추가한다. 해당 경로의 파일에 접근하는 다른 코드들도 경로를 수정한다.
- Nestjs 프레임워크와 관련 패키지, 컴포넌트는 무조건 최신 버전의 공식 문서를 참고한다

Typescript
- Barrel Export 파일은 무조건 생성하고 관련된 파일은 무조건 추가한다. 해당 경로의 파일에 접근하는 다른 코드들도 경로를 수정한다.
